body, html {
  background: #466fad;
  text-align: center;
  font-family: "Verdana";
  font-size: 14px;
}

#logo {
  border: 0px;
  width: 100%;
  height: 64px;
  padding: 0px;
  margin: 0px;
  background: #FFFFFF;
  background-image: url('../images/header.jpg');
  background-position: top left;
  background-repeat: no-repeat;
}

#logo td#left {
  padding: 0px;
  vertical-align: top;
  text-align: left;
  padding: 0px;
}

#logo td#right {
  padding: 0px;
  vertical-align: top;
  text-align: center;
  padding: 0px;
}

#header {
  width: 100%;
  float: left;
  background: #8da8c6;
  margin-bottom: 10px;
}

.headercol1 {
  vertical-align: top;
  width:220px;
}

.headercol2 {
  vertical-align: top;
  width: 100%;
}

#headertxt {
  float: left;
  padding: 5px;
  padding-left: 10px;
  background: #FEFEFE;
  background-image: url('../images/currentdate-leftbg.jpg');
  background-position: top left;
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
}

#currentdate{
  background: #FEFEFE;
  background-image: url('../images/currentdate-rightbg.jpg');
  background-position: top right;
  background-repeat: no-repeat;
  font-weight: bold;
  color: #000098;
  float: left;
  margin: 10px;
  margin-left: 0px;
  padding: 5px;
  padding-right: 10px;
}

#calendar {
  float: left;
  margin:10px;
  border: solid 1px #AAA;
  background: #FFF;
  width:205px;
  height:230px;
}

#headerdate {
  background: #0FF;
  float: left;
  width: 50%;
}

#date {
  float: left;
  display: block;
  position: relative;
  height:20px;
  line-height:20px;
  margin:10px 0 0 0;
  border:dashed 1px #666;
  position: relative;
}

#takelist {
  padding: 8px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  float: left;
  text-align: left;
  background: #b6d1ee;
  line-height: 30px;
}

.taketitle {
  padding: 2px;
  margin-bottom: 15px;
  background: url('../images/taketitle-bg.jpg');
  font-weight: bold;
  font-size: 16px;
  height: 20px;
}

.takelink {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  padding: 2px;
  margin: 1px;
  background: url('../images/taketitle-bg.jpg');
  height: 20px;
  border: solid 1px #666;
}

.takelink:hover {
  background: url('../images/taketitle-bg2.jpg');
  color: #000098;
  border: solid 1px #000098;
}

.take {
  margin-bottom: 15px;
  background: #8da8c6;
  float: left;
}

img.pic {
  float: left;
  padding: 1px;
  background: #AAA;
  border: 0px;
}

img.pic:hover {
  background: #000098;
}

.thumb {
  float: left;
  padding: 5px;
  color: #222;
  background: #638ac3;
  margin: 5px;
  text-align: left;
  font-family: "Verdana";
  font-size: 10px;
  width: 130px;
}

.thumbtitle {
  color: #000098;
  font-weight: bold;
}

